
#contenedor{
	width: 100%;
	max-width: 1200px;
}

*{box-sizing: border-box;}

/*generales todas*/
body{
	display: flex;
	justify-content: center;

	/*imagen de fondo*/
	background-image: url(../img/fondo.png);
	background-repeat: repeat;
	font-size: 1.5rem;
	padding: 2rem;
}

/*menu navegacion*/
nav ul{
	background-color: black;
	border: 0.1rem solid white;
	list-style: none;
	padding: 0.8rem;
	margin: 0rem;
	text-align: center;
}

nav li{
	display: inline-block;
	margin: 0;
}

/* links */
nav a{
	display: inline-block;
	padding: 0.2rem 1.2rem;
	text-decoration: none;
	border: 0.2rem solid skyblue;
}

/* normal */
nav a:link{
	background-color: white;
	color: darkblue;
}

/* visitado */
nav a:visited {
	background-color: skyblue;
	color: darkblue;
}

/* mouse encima */
nav a:hover{
	background-color: white;
	color: black;
}

/* click */
nav a:active{
	background-color: black;
	color: white;
}
/*fin menu navegacion*/

/*font google*/
h1, h2, h3, article.chico{
 font-family: "Arvo", serif;
}

/*fondo color transparente*/
h1, main,footer{
	background-color: rgba(0, 0, 0, 0.8);
	border: 0.1rem solid white;
	}

/*texto que está sobre el fondo*/
h1, footer{
	color: white;
	text-align: center;
}

/*PAG 1
division 3 columnas*/

.inicio{
	display: flex;
	justify-content: center;
}

.inicio article {
	background-color: white;
	padding: 1rem;
	margin: 1rem;
	flex: 1;
}

/*PAG 2
division 2 columnas*/

.columnas{
	display: flex;
}

.chico{
	flex: 1;
	background-color: white;
	padding: 1rem;
	margin: 1rem;
}

.grande{
	flex: 3;
	background-color: white;
	padding: 1rem;
	margin: 1rem;
}

/*para centrar las imagenes*/
.imagenes{
	text-align: center;
	display: block;
	margin: 2rem;
}

.centrar{
	text-align: center;
}

/*PAG 3
formulario*/

form{
	background-color: white;
	margin: 2rem;
	margin-right: 10rem;
	margin-left:10rem ;
	border: 0.2rem solid skyblue;
}

.textoblanco{
	color: white;
	text-align: center;
}

input{
		border: 0.1rem solid blue;
}

img{
    max-width:100%;
    height:auto;
}

label{
    display:block;
    margin-top:1rem;
}

input{
    width:70%;
    padding:0.5rem;
    margin-bottom:1rem;
}

button{
    padding:0.7rem 1rem;
    margin:1rem 0.5rem;
}

/*texto resultados*/
#salida{
    color: white;
    margin-left:2rem ;
}

/*PAGINA 2
estilo galeria*/

/*utilizo flexbox para layout, color fondo y bordes*/
#galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

    background-color:white;
    padding:2rem;
    margin:2rem;
    border:0.2rem solid skyblue;
}

/*layout del titulo con propiedades de flexbox items, y estilos*/
#tituloGaleria{
	flex-basis:100%;
    order:-1;

    text-align:center;
    margin-bottom:3rem;
    border-bottom:0.2rem solid skyblue;
    padding-bottom:3rem;
} 

/*defino estilos de los articulos con la clase obra, o sea de cada obra en la galeria*/
.obra{
    width:30%;
    margin-bottom:2rem;
    padding:1rem;

    background-color:#f7f7f7;
    border:0.1rem solid #cccccc;

    text-align:center;
}

/*defino medidas y borde de cada imagen
( object-fit es una propiedad para que la imagen mantenga sus proporciones y se adapten al tamaño definido)*/
.obra img{
    width: 200px;
    height:250px;
    object-fit:cover;
    border:0.15rem solid black;
}

/*estilo de titulo de cada obra*/
.obra h3{
    font-size:1rem;
    margin-top:1rem;
    margin-bottom:0.5rem;
}

/*estilo de año de cada obra*/
.obra p{
    margin:0;
    font-size:1rem;
    color:#555;
}

/*botones galeria*/
button{
    background-color:black;
    color:white;

    border:0.2rem solid skyblue;

    padding:0.8rem 1.5rem;
    margin:1rem 0.5rem;

    font-size:1rem;
}

button:hover{
    background-color:skyblue;
    color:black;
}

button:active{
    transform:scale(0.97);
}

/*centrar botones*/
.botones{
    flex-basis:100%;
    display:flex;
    justify-content:center;
    margin-top:2rem;
}

/*PAG 1
datos curiosos*/
/*flexbox bloque entero*/
#datosCuriosos{
    width: 80%;
    margin: 4rem auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: whitesmoke;
    border-left: 0.3rem solid skyblue;
    border-right: 0.3rem solid skyblue;
}

#datosCuriosos h2{
    margin-bottom: 1rem;
}

/*alineacion dato curioso con propiedades de flexbox*/
#dato{
    text-align: center;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    min-height: 5rem;
}

/*alineacion boton con propiedades de flexbox*/
#btnDato{
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    background-color: white;
    transition: 0.5s;
}

#btnDato:hover{
    background-color: black;
    color: white;
}